* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-family: fantasy;
    position: fixed !important; 
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    border-radius: 10px;
    z-index: 1500;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    color: #f70bcf;
}
.navbar-links {
    list-style: none;
    display: flex;
    gap: 1em;
}

.navbar-links li a {
    color: #0ae2f6;
    text-decoration: none;
    font-size: 1em;
    padding: 0.5em;
    transition: background 0.3s;
}

.navbar-links li a:hover {
    background-color: #555;
    border-radius: 5px;
}
body {
    padding-bottom: 100px; /
    
}
.header{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5em; 
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.foto{
    width: 30%;
    border-radius: 50%;
    border: 3px solid rgb(5, 168, 168);
    background: linear-gradient(45deg, rgb(139, 2, 133), rgb(117, 3, 121), rgb(94, 0, 148), rgb(89, 0, 255), rgb(28, 0, 128));
    box-shadow: 10px 5px 1px  rgba(1, 243, 243,0.9);
}
.nombre{
    padding-top: 3em;
    padding-bottom: 1em;
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow:
                1px 1px 0px #75046c,
                2px 2px 0px #5909da,
                3px 3px 0px #e903d6,
                4px 4px 0px #03e2f1,
                5px 5px 0px #190244;
}
.perfil{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 2em;
}
.titulo2{
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow:
        1px 1px 0px #333333,
        2px 2px 0px #333333,
        3px 3px 0px #333333,
        4px 4px 0px #333333,
        5px 5px 0px #333333;
}
.trabajos{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 5em;
    position: relative !important;
}
.carrusel{
    display: flex;
    z-index: 1000;   
}
.card{
    margin: 3em;
    align-items: center;
    border: 0.5em solid #333333;
    box-shadow: 10px 5px 1px  rgba(1, 243, 243,0.9);
}
.card-img-top {
    width: 70%;
    padding: 1em;
}